:root {
    --light-background: ##E5E5E5;
}

body {
    background: var(--light-background);
    font-family: "Roboto";
    /* overflow-x: hidden; */
}

.flexWrapper {
    display: flex;
    width: 100vw;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* margin: 50px 0 0 40px; */
}

.flexBoxRow {
    display: flex;
    position: relative;
    flex-direction: row;
    /* justify-content: left; */
    margin: 100px 20px;
}

.flexBoxColumn {
    display: flex;
    position: relative;
    flex-direction: column;
    margin: 11px 0 0 12px;
}

.searchClass {
    width: 295px;
    height: 50px;
    border: 1px solid #D9D9D9;
    padding-left: 12px;
    /* box-sizing: border-box; */
    border-radius: 6px;
}

.searchImg {
    margin: 16px 10px;
}

.searchBut {
    background-color: #FF5555;;
    margin-left: 20px;
    border-radius: 6px;
    border-width: 0;
    width: 50px;
    height: 50px;
}

.wrapper {
    display: grid;
    justify-content: center;
  }


.compBlockClass {
    display: flex;
    position: relative;
    flex-direction: row;
    width: 357px;
    height: 80px;
    border: 1px solid #D9D9D9;
    border-radius: 6px;
    margin-bottom: 16px;
    padding: 12px;
}

.avatarImg {
    /* margin: 12px 12px; */
    height: 80px;
    width: 80px;
}

.nameRep {
    /* margin: 11px 0 4px 12px; */
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 4px;
}

.descRep {
    color:#7E7E7E;

}

/* .HeaderClass {
    font-weight: bold;
    font-size: 40px;
} */


@font-face {
    font-family: "Roboto"; 
    src: url("Fonts/Roboto-Regular.ttf"); 
    font-style: normal; 
    font-weight: normal; 

    } 
/* 
flexWrapperBut {
    display: flex;
    width: 100vw;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
}

flexWrapperDash {
    display: flex;
    position: relative;
    align-items: center;
    width: 100vw;
}

flexBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    margin: 100px;
}

flexBoxRow {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
    margin: 100px 20px;
}

flexBoxRow2 {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
    margin: 50px;
}

flexBoxRow3 {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-around;
}

flexBoxRow4 {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: left;
}

flexBoxSmallRow {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin: 45px 0 20px 0;
}


flexBoxColumn {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

flexColumn {
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin: 20px 0;
}

flexColumn1 {
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 250px;
    margin: 20px 0;
}


testimName {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

flexWrapperContainer {
    display: flex;
    justify-content: center;
}


flexContainer {
    width: 1220px;
    height: 370px;
    background-color: #343434;
    border-radius: 33px;
    margin: 0;

}

.but1Class {
    padding: 7px 25px;
    text-align: center;
    background-color: var(--dark-background);
    color: white;
    border: 0; 
    box-shadow: 0;
    font-size: 17px;
    width: 136px;
    height:65px
}

.but2Class {
    font-size: 17px;
    padding: 7px 25px;
    text-align: center;
    background-color: var(--dark-background);
    color: white;
    border: 2px solid white; 
    width: 136px;
    height: 65px;
}

button, 
button:active, 
button:focus {
    outline: none;
}

.sloganClass {
    color: white;
    margin: 100px 0 37px 0;
    text-align: center;
    font-style: normal;
    font-size: 80px;

}

.sloganSmallClass {
    color: white;
    margin: 0;
    text-align: center;
    font-style: normal;
    font-size: 20px;

}

.dashboardClass {
    position: relative;
    width: 100%;
    height: 840px;
    /* background: url("../lab2/Icons/Dashboard.svg"); */
    /* box-shadow: inset 0 -350px 350px #111111; *//*
}

.gradClass {
    position: absolute;
    background: linear-gradient(to bottom, #ffffff00, #000000);
    width: 100%;
    height: 550px;
    margin-top: 442px;
    left: 0;
    right: 0;
}

.smallIconClass {
    width: 25px;
}

.namePointClass {
    color: white;
    margin: 0;
    text-align: left;
    font-style: normal;
    font-size: 20px;
    margin: 0 10px;
    width: 150px;
}

.textPointClass {
    color: white;
    margin: 0;
    text-align: left;
    font-style: normal;
    font-size: 16px;
    width: 248px;
}

.blockClass {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 476px;
    height: 624px;
    margin: 0 15px;
    padding: 40px 0;
    border-radius: 10px;
    background-color: white;
}

.boxName{
    color: black;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 0.1px;
}

.boxTetxt {
    width: 268px;
    color: rgba(92, 92, 92, 1);
    text-align: center;
    font-size: 16px;
    letter-spacing: 0.2px;
}

.galleryImg {
    margin: 0 16px;
    border-radius: 10px;
}

.iconBrand {
    margin: 0 38px;
}

.social {
    margin: 50px 30px 0 0;
}

.inform {
    margin-right: 15px;
}

.testimClass {
    border: 2px solid white;
    border-radius: 10px;
    margin: 10px;
    padding: 40px 40px 40px 70px;
    color: white;
    width: 320px;
}

.avatarClass {
    width: 50px;
    height: 50px;
}

.avatarTextClass {
    line-height: 24px;;
    letter-spacing: 0.2px;
    padding: 0 10px;
    margin: 0 22px;
    font-weight: bold;
}

.testimTestClass {
    font-size: 16px;
    line-height: 24px;;
}

.infBlockText {
    width: 480px;
    font-size: 52px;
    margin: 78px 0 0 104px;
    color: white;
    line-height: 62px;
}

.mainLink {
    color: white;
    margin: 30px 0;
    font-weight: bold;
    font-size: 20px;
}

.link {
    color: white;
    margin: 10px 0;
} */

